body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    background-color: #F1FFFA;
    color: black;
}

header {
    background-color: #087E8B;
    padding: 5%;
    text-align: center;
    font-size: 200%;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20%;
    padding: 10%;

}

.encode,
.decode {
    padding: 10%;
    border-color: #FF5A5F;
    border-radius: 2%;
    border-style: solid;
    text-align: center;
}

input,
button {
    text-align: center;
}

input {
    margin: 5%;
}